<section class="containers hero">
    <header class="hero__header">
        <p class="hero__slogan">
            <img src="images/hidden_star.svg" alt="" class="hero__slogan-star">
            No Hidden Fees
        </p>
        <h1 class="hero__heading">
            Raise Money With Crypto
        </h1>
        <img src="images/scribble.svg" alt="" class="hero__scribble">
        <div class="hero__footer">
            <p class="hero__tagline">
                Pledge to campaigns securely in a trustless environment powered by smart contracts. Create campaigns easily with a customizable toolkit—no geographical restrictions or third party
            </p>
            <div class="hero__buttons">
                <button type="button" class="btn btn-green">Start a Raise</button>
                <button type="button" class="btn btn-outline-dark">Fund a Raise</button>
            </div>
            <a class="tagline__footer" href="#">
                <img src="images/play.svg" alt="" class="tagline-play">
                Watch live demo
            </a>
        </div>
    </header>
    <img src="images/hero_img.svg" alt="" class="hero__image">
</section>