<nav class="navbar navbar-expand-md navbar-light nav">
    <a class="navbar-brand" href="#">
        <img src="./images/logo.svg" alt="" class="nav__logo">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse nav-grid" id="navbarSupportedContent">
        <div class="nav__search__list">
            <form class="form-inline my-lg-0 nav__search">
                <img src="images/search.svg" alt="" class="nav__search-logo">
                <input class="form-control nav__search-input" type="search" placeholder="Search for induividuals and charities" aria-label="Search">
            </form>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Discover
                </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fundraisers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ's</a>
                </li>
            </ul>
        </div>
        <div class="nav__login">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
            <button type="button" class="btn btn-green">Connect Wallet</button>
        </div>
    </div>
</nav> 